# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente
.env
.env.*
!.env.example

# dbt
dbt/dbt_packages/
dbt/target/
dbt/logs/
dbt/.user.yml

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
